$color-red: #ff0000;
$color-grey: #e6e6e6;
$color-grey-dark: #9a9a9a;
$color-black: #000;
$sans-pro-regular: 400;
$sans-pro-bold: 600;
$sans-pro-black: 900;
$font-main: 'Source Sans Pro', Arial, Helvetica, sans-serif;
$font-heading: 'Pacifico', fallback;